[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"


[packages]
jupyter = "==1.0.0"
ipyparallel = "==6.3.0"
pandas = "==1.1.5"


[requires]
python_version = "3.8"
